@model Gerenciador.Models.Pessoa

@{
    ViewBag.Title = "Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Excluir</h2>
<p></p>

<p>Excluir <em>"@Model.Nome @Model.Sobrenome"</em> ?</p>
<p>
    @Html.ActionLink("Sim", "Excluir", new { controller = "Delecao", id = @Model.Id }, new { @class = "btn btn-sm btn-danger" })
    @Html.ActionLink("Não", "Index", new { controller = "Lista" }, new { @class = "btn btn-sm btn-primary" })
</p>